* {
  margin: 0;
  padding: 0;
  cursor: url("../images/cursor/cursor.png"), auto;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot");
  src:
    url("../fonts/icomoon.eot") format("embedded-opentype"),
    url("../fonts/icomoon.ttf") format("truetype"),
    url("../fonts/icomoon.woff") format("woff"),
    url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e900";
  font-size: 20px;
  color: #d14836;
}
.icon-whatsapp:before {
  content: "\e901";
  color: #25d366;
}

.icon-arrowRight:before {
  content: "\e902";
  font-size: 20px;
  color: white;
  position: absolute;
}
.icon-arrowLeft:before {
  content: "\e903";
  font-size: 20px;
  color: white;
  position: absolute;
}
.icon-arrowDown:before {
  content: "\e904";
  font-size: 20px;
  color: white;
  position: absolute;
}
.icon-arrowUp:before {
  content: "\e905";
  font-size: 20px;
  color: white;
  position: absolute;
}

body {
  background-color: white;
  margin: 0;
  height: 100vh;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.background {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  transition: filter 0.3s ease;
}

.blurred {
  filter: blur(8px);
}

.modal {
  position: fixed;
  top: 20%;
  left: 35%;
  transform: translate(-50%, -50%);
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
}

a,
button {
  cursor: url("../images/cursor/mano-cursor.png"), auto;
}

.indie-flower-regular2 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 9px;
}

ul,
li {
  margin: 0;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

header,
nav {
  background-color: beige;
  height: 80px;
  margin-left: 5.8vw;
  margin-right: 3vw;
}

img {
  font-size: 9px;
}
.boxnav {
  padding-left: 5vw;
  padding-right: 5vw;
}

.triangulo {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 6vw solid white;
  border-right: 0px solid transparent;
  border-bottom: 11.6vh solid beige;
}
.triangulo2 {
  position: absolute;
  margin-left: 93vw;
  margin-top: -11.6vh;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 6vw solid white;
  border-bottom: 11.6vh solid beige;
}

.upsideFridge {
  border: 5px solid black;
  height: 100vh;
}

.upsideFridgeSide {
  border: 5px solid black;
  height: 144vh;
  width: 20vw;
  margin-left: 40vw;
}

.upsideFridgeBack {
  border: 5px solid black;
  height: 144vh;
  width: 40vw;
  margin-left: 30vw;
}

.upFoot {
  width: 0;
  height: 0;
  margin-left: 41vw;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 0.5vh solid black;
}

.downFoot {
  width: 0;
  height: 0;
  margin-left: 57.3vw;
  margin-top: -3.3vh;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 0.5vh solid black;
}

.leftFoot {
  width: 0;
  height: 0;
  margin-left: 34vw;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 0.5vh solid black;
}

.rightFoot {
  width: 0;
  height: 0;
  margin-left: 64.3vw;
  margin-top: -3.3vh;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 0.5vh solid black;
}

.asa {
  position: relative;
  margin-left: 3vw;
  margin-top: 20vh;
  width: 0;
  height: 0;
  border-radius: 10px;
  border-top: 10px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 50vh solid black;
}

.parrilla {
  position: absolute;
  top: 60vh;
  left: 35vw;
  border: 3px solid black;
  height: 110vh;
  width: 30vw;
  border-radius: 20px;
  background-color: transparent;
}

.linea {
  position: absolute;
  background-color: transparent;
  top: 70vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea2 {
  position: absolute;
  background-color: transparent;
  top: 80vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea3 {
  position: absolute;
  background-color: transparent;
  top: 90vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea4 {
  position: absolute;
  background-color: transparent;
  top: 100vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea5 {
  position: absolute;
  background-color: transparent;
  top: 110vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea6 {
  position: absolute;
  background-color: transparent;
  top: 120vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea7 {
  position: absolute;
  background-color: transparent;
  top: 130vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea8 {
  position: absolute;
  background-color: transparent;
  top: 140vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea9 {
  position: absolute;
  background-color: transparent;
  top: 150vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.linea10 {
  position: absolute;
  background-color: transparent;
  top: 160vh;
  left: 35vw;
  width: 29.6vw;
  padding: 10px 5px;
  border-top: 3px solid black;
}

.lineaV {
  position: absolute;
  background-color: transparent;
  top: 60vh;
  left: 45vw;
  height: 107.8vh;
  padding: 10px 5px;
  border-left: 3px solid black;
}

.lineaV2 {
  position: absolute;
  background-color: transparent;
  top: 60vh;
  left: 55vw;
  height: 107.8vh;
  padding: 10px 5px;
  border-left: 3px solid black;
}

.lineaV2:hover,
.lineaV:hover {
  border-left: 3px solid red;
}
.linea:hover,
.linea2:hover,
.linea3:hover,
.linea4:hover,
.linea5:hover,
.linea6:hover,
.linea7:hover,
.linea8:hover,
.linea9:hover,
.linea10:hover {
  border-top: 3px solid red;
}
.parrilla:hover {
  border: 3px solid red;
}

.middleF {
  border: 3px solid black;
  height: 10vh;
}
.square {
  position: absolute;
  border: 4px solid black;
  height: 8vh;
  width: 12vw;
}

.downsideFridge {
  border: 5px solid black;
  height: 140vh;
}

.leftfoot {
  width: 0;
  height: 0;
  margin-left: 10vw;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 0.5vh solid black;
}

.rightfoot {
  width: 0;
  height: 0;
  margin-left: 86.3vw;
  margin-top: -3.4vh;
  border-top: 20px solid black;
  border-left: 20px solid black;
  border-right: 20px solid black;
  border-bottom: 0.5vh solid black;
}

#iman1 {
  position: absolute;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: grab;
  top: 27vh;
  left: 24vw;
  z-index: 1000;
}

#iman2 {
  position: absolute;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: grab;
  top: 43vh;
  left: 47vw;
  z-index: 1000;
}

#iman3 {
  position: absolute;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: grab;
  top: 50vh;
  left: 73vw;
  z-index: 1000;
}

#iman4 {
  position: absolute;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: grab;
  top: 140vh;
  left: 24vw;
  z-index: 1000;
}

#iman5 {
  position: absolute;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: grab;
  top: 190vh;
  left: 30vw;
  z-index: 1000;
}

#iman6 {
  position: absolute;
  background-color: azure;
  width: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: grab;
  top: 230vh;
  left: 70vw;
  z-index: 1000;
}

.sticked {
  background-color: orange;
  position: inherit;
  height: 30vh;
  width: 15vw;
  margin: 0;
  left: 20vw;
  top: 20vh;
  border-radius: 10px;
  padding: 19px 10px 10px 10px;
  cursor: drop;
}

.sticked2 {
  background-color: rgb(198, 57, 198);
  position: inherit;
  height: 40vh;
  width: 15vw;
  margin: 0;
  left: 45vw;
  top: 38vh;
  border-radius: 10px;
  padding: 19px 10px 10px 10px;
}

.sticked3 {
  background-color: green;
  position: inherit;
  height: 38vh;
  width: 15vw;
  margin: 0;
  left: 70vw;
  top: 44vh;
  border-radius: 10px;
  padding: 19px 10px 10px 10px;
}

.sticked4 {
  background-color: white;
  position: inherit;
  height: 30vh;
  width: 30vw;
  margin: 0;
  left: 20vw;
  top: -50vh;
  border-radius: 10px;
  padding: 19px 10px 10px 10px;
}

.sticked5 {
  background-color: white;
  position: inherit;
  height: 32vh;
  width: 28vw;
  margin: 0;
  left: 20vw;
  top: 5vh;
  border-radius: 10px;
  padding: 19px 10px 10px 10px;
  overflow-x: auto;
}

.sticked6 {
  background-color: white;
  height: 12vh;
  width: 15vw;
  margin: 0;
  left: 20vw;
  top: 5vh;
  border-radius: 10px;
  padding: 19px 10px 10px 10px;
}

#myImage {
  background-color: whitesmoke;
  width: 70px;
  height: 80px;
  position: inherit;
  left: 11vw;
  top: 24vh;
  transform: rotate(-15deg);
  z-index: 100;
  padding: 10px 10px 30px 10px;
  border: 1px solid black;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

.cinta {
  width: 30px;
  height: 0;
  border-top: 10px solid rgb(176, 176, 97);
  border-left: 3px solid rgb(176, 176, 97);
  border-right: 3px solid rgb(176, 176, 97);
  border-bottom: 3px solid rgb(176, 176, 97);
  border-radius: 20px;
}
#cinta1 {
  position: absolute;
  transform: rotate(15deg);
  left: 15vw;
  top: 34vh;
  z-index: 101;
}

#cinta2 {
  position: inherit;
  transform: rotate(15deg);
  left: 11vw;
  top: 42vh;
  z-index: 101;
}
#cinta3 {
  position: fixed;
  transform: translateX(-50%);
  left: 5vw;
  top: 1.5vh;
  transform: rotate(15deg);
  z-index: 101;
}
.habilidades-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.habilidades {
  margin-top: 5px;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  background-color: blue;
  padding: 4px;
  border-radius: 10px;
}
.experiencia {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: red;
  padding: 10px;
  border-radius: 10px;
}
.experiencia-content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

footer {
  display: flex;
  justify-content: center;
  background-color: grey;
}

.footer2 {
  display: flex;
  justify-content: center;
  background-color: grey;
  transform: scale(0.6);
  margin-top: -1vh;
}

#page {
  transform-origin: top left;
  transition: transform 0.3s ease;
}

#zoom-container {
  width: 100%;
  height: 100vh;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.cv-container {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-right: 10px;
  background-color: orange;
  padding: 10px;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE10+/Edge */
}

.proyecto-content {
  position: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
  width: 10vw;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
}

.botonZO {
  border-radius: 40vw;
  background-color: black;
  position: absolute;
  height: 6vh;
  top: 256vh;
  left: 10vw;
  border: 5px solid black;
}

.botonZO2 {
  border-radius: 40vw;
  color: gray;
  background-color: gray;
  position: absolute;
  height: 6vh;
  top: 256vh;
  left: 5vw;
  border: 5px solid gray;
}
.turner {
  border-radius: 40vw;
  background-color: black;
  position: absolute;
  height: 6vh;
  top: 250vh;
  right: -10vw;
  padding: 40px;
  border: 5px solid black;
}
.turner2 {
  border-radius: 40vw;
  background-color: black;
  position: absolute;
  height: 6vh;
  top: 160vh;
  right: 20vw;
  padding: 40px;
  border: 5px solid black;
}
